.tit_wrap{position: relative; top: 0; left: 0; width: 100%; height: 60px; line-height: 60px; background: transparent; z-index: 9; display: flex; justify-content: space-between; padding: 0 18px; box-sizing: border-box;}
.tit_wrap a{display: block; width: 15%;}
.main_tit{color: #000; width: 100%; font-weight: 600; font-size: 22px; box-sizing: border-box;}
.tit_wrap .bar_wrap{width: 80%;}
.tit_wrap .bar_wrap ul{display: flex; justify-content: left;}
.tit_wrap .bar_wrap ul li{width: 10%;}
.tit_wrap .bar_wrap ul li:hover a span{animation: barAnimation 1s ease-in-out;}
.tit_wrap .bar_wrap ul li a{display: block; width: 100%; position: relative;}
.tit_wrap .bar_wrap ul li a span{display: inline-block; width: 26px; height:26px; border-radius: 100%; margin-top:44px; opacity: 0; vertical-align: text-top;}
.bar_wrap li:nth-child(1) a span{background-color: #e42962; opacity: 0.6;}
.bar_wrap li:nth-child(2) a span{background-color: #be4fa3; opacity: 0.6;}
.bar_wrap li:nth-child(3) a span{background-color: #6f75ec; opacity: 0.6;}
.bar_wrap li:nth-child(4) a span{background-color: #75c524; opacity: 0.6;}
.tit_wrap .bar_wrap ul li a .tab_name{position: absolute; top: 0%; left: 9%; font-weight: 800; font-size: 20px; display: none;}

a.lnb_wrap{width: 40px; position: relative; display: block; text-align: right; font-size: 0; text-indent: -999rem; line-height: 0; margin-top: 10px;}
a.lnb_wrap div{ background-color: #000; height: 4px; width: 100%;}
/* a.lnb_wrap div::after{content: ''; position: absolute; top: 12px; left: 0; background-color: #000; height: 4px; width: 100%;}
a.lnb_wrap div::before{content: ''; position: absolute; top: 24px; left: 0; background-color: #000; height: 4px; width: 100%;} */

section{width: 100%; height: 100vh; overflow: hidden;}
.section1{background-color: #fff;}
.section2{background-color: #c277af;}
.section3{background: url('./image/page3_bg.png') 100% no-repeat;}
.section4{background-color: #83dc28;}

/* .main_wrap {
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  
section {
    display: block;
    scroll-snap-align: start;
  }
  
.main_wrap,
section {
    margin: 0 auto;
  } */

/* body::-webkit-scrollbar {
    display: none;
  } */

.section1{background: linear-gradient(to bottom, #e4e7ee 40%, #eef2f5 70%);}
.section1 .sec_img_wrap{display: flex; justify-content: space-between; padding-right: 3%;}
.section1 .mainImg{width: 45%; height: 100vh;}
.section1 .mainImg_tit{width: 46%; height: 173px;}
.section1 .contents_wrap{width: 50%; height: 690px; position: absolute; top:20.6%; right: 3%;}
.section1 .contents_wrap .contents_1{text-align: right;}
.section1 .contents_wrap .contents_1 h3{font-size: 18px; margin-bottom: 10px;}
.section1 .contents_wrap .contents_1 button{border: 1px solid #222; padding: 1.4% 3%; border-radius: 14px; margin-top: 14px;}
.section1 .contents_wrap .contents_1 button a{font-size: 14px; }
.section1 .contents_wrap .contents_1 button:hover{color: #fff; background: #000;}
.section1 .contents_wrap .contents_1 button:hover a{color: #fff;}

.section1 .img_wrap{ width: 100%;}
.section1 .img_wrap .subImg{position: absolute; transition: transform 0.7s; border-radius: 60px; border: 1px solid #333; opacity: 0;}
.section1 .img_wrap .subImg:nth-child(1){width: 39%; top: 100%; left: 4%;}
.section1 .img_wrap .subImg:nth-child(2){width: 39%; top: 100%; left: 46.6%;}
.section1 .img_wrap .subImg:nth-child(3){width: 26%; height: 305px; top: 100%; left: 13.6%;}
.section1 .img_wrap .subImg:nth-child(4){width: 26%; height: 305px; top: 100%; left: 43.6%;}
.section1 .img_wrap .subImg:nth-child(5){width: 26%; height: 305px; top: 100%; left: 73.6%;}
.section1 .img_wrap .subImg:hover{transform: scale(1.14); z-index: 9;}

/* .section1 .contents_wrap .page1_img1{width: 34%; position: absolute; top: 11.4%; left: 50%; transform: translateX(-50%); z-index: 5; animation: slideIn 0.5s ease-in; opacity: 1;} */

/* .section1 .contents_wrap .contents_1,
.section1 .contents_wrap .contents_2{position: absolute; width: 44%; height: 500px; opacity: 1; display: flex; z-index: 8;}

.section1 .contents_wrap .contents_1{top: 38%; left:-22.4%; animation: slideInLeft 1.2s ease-in ;}
.section1 .contents_wrap .contents_1 .inn_contents1{width: 50%; height: 100%; background-color: #222;}
.section1 .contents_wrap .contents_1 .inn_contents2{width: 44%; height: 200px;margin-left: 10px;} */

/* .section1 .contents_wrap .contents_2{top: 30%; right: -22.4%; animation: slideInRight 1.4s ease-in;}
.section1 .contents_wrap .contents_2 .inn_contents1{width: 50%; height: 100%; background-color: #222;}
.section1 .contents_wrap .contents_2 .inn_contents2{width: 50%; height: 200px;margin-top: 35.7%;}
.section1 .contents_wrap .contents_2 .inn_contents2 img{transform: rotate(180deg); width: 120%;} */

.section2 .sd_box{width: 2000px; position: absolute; top: 10%; left: -2%; transform: rotate(6deg);}
.section2 .sd_box.sd_box2{width: 2000px; position: absolute; top: 91%; left: 0%; transform: rotate(0);}
.section2 .sd_box .bx-wrapper{background:transparent; border: none;}
.section2 .page2_img1{width: 37%; position: absolute; top: 4%; left: -40%; z-index: 5; opacity: 0;}
.section2 .page_wrap{width: 31%; height: 84%; background-color: #fff; position: absolute; top: 70%; left: 50%; transform: translateX(-50%); opacity: 0; border: 2px solid #000; overflow: hidden; border-radius: 14px;}
.section2 .page_wrap a{display: block; width: 100%; height: 100%; overflow-y: scroll;}
.section2 .page_wrap a::-webkit-scrollbar{display: none;}
.section2 .contents_wrap{position: absolute; top: 0%; right: 5%; width: 23%; height: inherit;}
.section2 .contents_wrap div{width: 100%; color: #000; text-align: left; padding: 6px 3px; box-sizing: border-box;}
.section2 .contents_wrap .contents_1{position: absolute; top:80%; right: 0; opacity: 0;  font-size: 18px;}
.section2 .contents_wrap .contents_2{position: absolute; top:90%; right: 0; opacity: 0;}
.section2 .contents_wrap .contents_3{position: absolute; top:100%; right: 0; opacity: 0;}
.section2 .contents_wrap button{border: 1px solid #000; padding: 3.2% 7%; border-radius: 14px; font-size: 14px;}
.section2 .contents_wrap button:hover{background: #000;}
.section2 .contents_wrap button a{color: #000; }
.section2 .contents_wrap button:hover a{color: #c277af;}

.section3{display: flex; justify-content: space-between;}
.section3 .sec3_tit{color: #fff; font-size: 96px; letter-spacing: 0.4rem; text-align: right; width: 100%; box-sizing: border-box; font-weight: 700; margin: 40px 0; text-shadow: 0 0 14px #eef2f5;}
.section3 .vid_wrap{width: 20%; border-radius: 60px; overflow: hidden; transform: translate(90%, 8%);}
.section3 .vid_wrap .page3_img1{width: 100%;}
.section3 .vid_wrap .vid{position: absolute; top: 1%; left: 3%; width: 95%; height: 776px; border-radius: 50px; overflow: hidden;}
.section3 .vid_wrap .vid video{width: 100%;}
.sec_inner{width: 54%; padding-right:3%; text-align: right;}
.sec_inner h3{font-size: 18px; color: #fff; margin-bottom: 10px;}
.sec_inner > p{color: #fff; margin-bottom: 200px; padding: 0 0 2% 0;}
.sec_inner div{display: inline-block; width: 100%; display: flex; justify-content: right;}
.sec_inner div p{width: 30%; text-align: right;}
.sec_inner div p a{color: #fff; font-size: 26px; border: 1px solid #fff; border-radius: 14px; padding: 2.4% 9%; box-shadow: 0 0 12px #fff;}
.sec_inner div p a:hover{color: #000; background: #fff;}

.section4 > a{display: block; width: 48%; margin: 0 auto; padding: 40px 0 20px;}
.section4 .con_wrap{width: 100%; display: flex; justify-content: space-between; padding: 0 2%; box-sizing: border-box;}
.section4 .contents_1{width: 48%; color: #fff;}
.section4 .contents_1 div{width: 230px; height: 350px; line-height: 350px; border: 8px solid #fff; border-radius: 100%; text-align: center;}

/* con Animation */
.section4 .contents_1 div:first-child{transform: rotate(-13deg) scale(0); margin: 0 0 0 71%; opacity: 0; transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;z-index: 99;}
.section4 .contents_1 div:last-child{width: 200px; height: 260px; line-height: 250px; transform: rotate(20deg) scale(0); margin: 9% 0 0 76%; opacity: 0; transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;}
.section4 .contents_1 div.vid_wrap{width: 710px; border-radius: 100%; overflow: hidden; height: 310px; border: 4px solid #fff; position: absolute; top: 28%; left: 0; margin: 0; transform: rotate(12deg) scale(0); opacity: 0;}
.section4 .contents_1 div:first-child.on{animation: popAni2 1s ease-in-out forwards; opacity: 1;}
.section4 .contents_1 div:last-child.on{animation: popAni3 1s ease-in-out forwards; opacity: 1;}
.section4 .contents_1 div.vid_wrap.on{animation: popAni4 1s ease-in-out forwards; opacity: 1;}
/* ------ con Animation */

.section4 .contents_1 div p{ font-size: 16px;}
.section4 .contents_1 .vid_wrap iframe{margin-left: -383px; margin-top: -51px;}
.section4 .contents_1 button{border: 1px solid #fff; padding: 3% 8%; border-radius: 14px; color: #fff;}
.section4 .contents_1 button a{color: #fff;}
.section4 .contents_1 button:hover{border: 1px solid #fff; color: #83dc28; background: #fff;}
.section4 .contents_1 button:hover a{color: #83dc28;}
.section4 .contents_2{width: 48%; margin-right: 5%;}
.section4 .contents_2 a{display: block; width: 84%; opacity: 0; transform: scale(0); transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;}
.section4 .contents_2 a.on{animation: popAni 0.6s ease-in-out forwards; opacity: 1;}


@keyframes barAnimation {
    0% {scale:1; opacity: 0.7;}
    50% {scale:0.5; opacity: 1;}
    100% {scale:1.2; opacity: 0.7;}
}

@keyframes popAni {
    0% {transform: scale(0); opacity: 0; }
    30% {transform: scale(2.4); opacity: 0.5;}
    100% {transform: scale(1); opacity: 1;}
}

@keyframes popAni2 {
    0% {transform: rotate(-13deg) scale(0); opacity: 0; }
    50% {transform: rotate(-13deg) scale(1.1); opacity: 0.9;}
    100% {transform: rotate(-13deg) scale(1); opacity: 1;}
}

@keyframes popAni3 {
    0% {transform: rotate(20deg) scale(0); opacity: 0; }
    70% {transform: rotate(20deg) scale(1.1); opacity: 0.9;}
    100% {transform: rotate(20deg) scale(1); opacity: 1;}
}

@keyframes popAni4 {
    0% {transform: rotate(12deg) scale(0); opacity: 0; }
    90% {transform: rotate(12deg) scale(1.1); opacity: 0.9;}
    100% {transform: rotate(12deg) scale(1); opacity: 1;}
}


@media all and (max-width:1566px){
    .tit_wrap a{width: 17%;}
    a.lnb_wrap{width: 2%;}
    .tit_wrap .bar_wrap{width: 74%;}
    .tit_wrap .bar_wrap ul li{width: 13%;}
}
