.tit_wrap{position: relative; top: 0; left: 0; width: 100%; background: transparent; z-index: 9; display: flex; justify-content: space-between; padding: 24px 18px; box-sizing: border-box;}
.tit_wrap a{display: block; width: 15%;}
.main_tit{color: #000; width: 100%; font-weight: 600; font-size: 22px; box-sizing: border-box;}
.tit_wrap .bar_wrap{width: 80%;}
.tit_wrap .bar_wrap ul{display: flex; justify-content: left;}
.tit_wrap .bar_wrap ul li{width: 10%;}
.tit_wrap .bar_wrap ul li:hover a span{animation: barAnimation 1s ease-in-out;}
.tit_wrap .bar_wrap ul li a{display: block; width: 100%; position: relative;}
.tit_wrap .bar_wrap ul li a span{display: inline-block; width: 30px; height:30px; border-radius: 100%; margin-top:44px; opacity: 0;}
.bar_wrap li:nth-child(1) a span{background-color: #e42962; opacity: 0.6;}
.bar_wrap li:nth-child(2) a span{background-color: #be4fa3; opacity: 0.6;}
.bar_wrap li:nth-child(3) a span{background-color: #6f75ec; opacity: 0.6;}
.bar_wrap li:nth-child(4) a span{background-color: #2fe384; opacity: 0.6;}
.bar_wrap li:nth-child(5) a span{background-color: #dee929; opacity: 0.6;}
.tit_wrap .bar_wrap ul li a .tab_name{position: absolute; top: 0%; left: 12%; font-weight: 800; font-size: 20px; display: none;}

a.lnb_wrap{width: 28px; position: relative; display: block; text-align: right; font-size: 0; text-indent: -999rem; line-height: 0; }
a.lnb_wrap div{ background-color: #000; height: 4px; width: 100%;}
a.lnb_wrap div::after{content: ''; position: absolute; top: 12px; left: 0; background-color: #000; height: 4px; width: 100%;}
a.lnb_wrap div::before{content: ''; position: absolute; top: 24px; left: 0; background-color: #000; height: 4px; width: 100%;}

section{width: 100%; height: 100vh; }
.section1{background-color: #fff;}
.section2{background-color: #c277af;}
.section3{background: url('./image/page3_bg.png') 100% no-repeat;}
.section4{background-color: orange;}

/* .main_wrap {
    max-width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  
section {
    display: block;
    scroll-snap-align: start;
  }
  
.main_wrap,
section {
    margin: 0 auto;
  } */

/* body::-webkit-scrollbar {
    display: none;
  } */

.section1 .mainImg_tit{width: 70%; display: block; margin:  0 auto;}
.section1 .contents_wrap{width: 100%; margin: 0 auto; cursor: pointer;}
.section1 .contents_wrap .page1_img1{width: 34%; position: absolute; top: 11.4%; left: 50%; transform: translateX(-50%); z-index: 5; animation: slideIn 0.5s ease-in; opacity: 1;}

.section1 .contents_wrap .contents_1,
.section1 .contents_wrap .contents_2{position: absolute; width: 44%; height: 500px; opacity: 1; display: flex; z-index: 8;}

.section1 .contents_wrap .contents_1{top: 38%; left:-22.4%; animation: slideInLeft 1.2s ease-in ;}
.section1 .contents_wrap .contents_1 .inn_contents1{width: 50%; height: 100%; background-color: #222;}
.section1 .contents_wrap .contents_1 .inn_contents2{width: 50%; height: 200px;margin-left: 10px;}

.section1 .contents_wrap .contents_2{top: 30%; right: -22.4%; animation: slideInRight 1.4s ease-in;}
.section1 .contents_wrap .contents_2 .inn_contents1{width: 50%; height: 100%; background-color: #222;}
.section1 .contents_wrap .contents_2 .inn_contents2{width: 50%; height: 200px;margin-top: 35.7%;}
.section1 .contents_wrap .contents_2 .inn_contents2 img{transform: rotate(180deg); width: 120%;}

.section2 .page2_img1{width: 37%; position: absolute; top: 4%; left: -40%; z-index: 5; opacity: 0;}
.section2 .page_wrap{width: 40%; height: 100%; background-color: #fff; position: absolute; top: 70%; left: 33%; opacity: 0; border-left: 4px solid #000; border-right: 4px solid #000;}
.section2 .page_wrap a{display: block; width: 100%; height: 100%; overflow-y: scroll;}
.section2 .page_wrap a::-webkit-scrollbar{display: none;}
.section2 .contents_wrap{position: absolute; top: 0%; right: 0; width: 24%; height: inherit;}
.section2 .contents_wrap div{width: 100%; height: 240px; background-color: #fff; border-radius: 16px 0 0 16px;}
.section2 .contents_wrap .contents_1{position: absolute; top:80%; right: 0; opacity: 0;}
.section2 .contents_wrap .contents_2{position: absolute; top:90%; right: 0; opacity: 0;}
.section2 .contents_wrap .contents_3{position: absolute; top:100%; right: 0; opacity: 0;}

.section3 .vid_wrap{width: 20%; border-radius: 60px; overflow: hidden; padding:100px 0 20px 100px;}
.section3 .vid_wrap .page3_img1{width: 100%;}
.section3 .vid_wrap .vid{position: absolute; top: 11.7%; left: 22.8%; width: 75.4%; height: 777px; background-color: red; border-radius: 55px;}

@keyframes barAnimation {
    0% {scale:1; opacity: 0.7;}
    50% {scale:0.5; opacity: 1;}
    100% {scale:1.2; opacity: 0.7;}
}

@keyframes slideIn {
    0% {top:40%; opacity: 0;}
    100% {top:11.4%; opacity: 1;}
}

@keyframes slideInLeft {
    0% {left:-50%; opacity: 0;}
    100% {left:-22.4%; opacity: 1;}
}

@keyframes slideInRight {
    0% {right:-30%; opacity: 0;}
    100% {right:-22.4%; opacity: 1;}
}
