html, body {width: 100%; overflow-x: hidden; box-sizing: border-box;}
body{overflow-y: overlay;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, address, cite, code, del, em, img, s,
small, strike, strong, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor:pointer;
}

a { 
    color: #000; 
    text-decoration: none; 
}

img{width: 100%;}

a:hover, a:focus, a:active, a:link { 
    color: #000; 
    text-decoration: none; 
}

::-webkit-scrollbar {
    width: 10px; /* 세로 스크롤바 너비 설정 */
}

::-webkit-scrollbar-thumb {
    outline: none;
    background-color: #000;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(255, 255, 255, 0.2); /* 밝게 조정 */
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* 추가 */
}

.pos_r{position: relative;}