.p_r{position: relative;}
section{overflow: hidden; margin-bottom:80px;}

header{width: 100%; position: fixed; top: 0; left: 0; z-index: 10;}
.main_img{width: 80%; display: block; margin-top: -20px; height: 300px; z-index: 100;}
/* .sticky{position: sticky; top: 0px;} */
.bg{background-color: rgba(0,0,0,0.3); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1;}

/* gnb */
.gnb{ width: 100%; display: flex; height: 50px; border-bottom: 1px solid #707070; padding: 10px 20px; box-sizing: border-box; background: #fff;}
.gnb .gnb_img{width: 0; margin-right:20px;}
.gnb .gnb_img img{width: 0;}
.gnb > ul{display: flex; width: 28%; justify-content: space-between;}
.gnb > ul > li{height: 28px;}
.gnb ul li button{position: relative; font-weight: 500; height: 28px; line-height: 28px;}
.gnb ul li button:before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #222; transform: scaleX(0); transition: transform 0.4s ease-in; }
.gnb ul li:last-child button:before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #b6581a; transform: scaleX(0); transition: transform 0.4s ease-in; }
.gnb ul li button:hover:before{transform: scaleX(1); transform-origin: bottom left;}

.gnb ul li .deth1{display: flex; position: absolute; top: 50px; left: 0; width: 100%; font-size: 14px; padding: 26px 20px; box-sizing: border-box; justify-content: center; border-bottom:1px solid #707070; display:none; background: #fff; z-index: 999;}
.gnb ul li .deth1 .close_btn{position: absolute; top: 0; right: 0; font-size: 26px;}
.global_btn{background-color: transparent; border: none; width: 32px;}

/* .deth1.wrap1 */
.gnb ul li .deth1 .deth2{width: 12%;}
.gnb ul li .deth1.wrap1 .deth2:last-child{width: 30%; display: flex; justify-content: space-between;}
.gnb ul li .deth1.wrap1 .deth2 > a{width: 47%; display: inline-block;}
.gnb ul li .deth1.wrap1 .deth2 > a:nth-child(2){margin-left: 20px;}
.gnb ul li .deth1 .deth2 ul li{padding: 4px 0; width: 78%; margin: 0 auto;}
.gnb ul li .deth1 .deth2 ul li a{display: block; width: 100%; font-weight: 400;}
.gnb ul li .deth1 .deth2 ul li a:hover{color: #707070;}
.gnb ul li .deth1.wrap1 .deth2 img{width: 100%;}

.gnb ul li .deth1 .deth2 img{width: 100%; height: 100%;}
.gnb ul li .deth1 .deth2 a{display: block; width: 100%; height: 100%;}
.gnb ul li .deth1 .deth2 a:hover span{display: block;}
.gnb ul li .deth1 .deth2 a span{position: absolute; top: 0%; left: 0; font-weight: 900; color: #fff; font-size: 18px; display: none; width: 100%; height: 100%; padding-top: 55%; box-sizing: border-box; background-color: rgba(0,0,0,0.3); text-align: center; vertical-align: middle;}

.gnb ul li .deth1.wrap4 .deth2:last-child{margin-left:20px;}

/* 언어 선택 창 */
.global_lang{width: 100%; position: fixed; height: 100vh; z-index: 999; overflow: hidden; display: none;}
.global_lang .global_wrap{position: absolute; top: 0; right: -26%; width: 26%; background-color: #fff; height: 100vh; padding: 1%; box-sizing: border-box; z-index: 999; }
.global_lang .global_top{font-size: 20px; display: flex; justify-content: space-between; margin-bottom: 20px; border-bottom: 1px solid #707070; padding-bottom: 10px; height: 40px; line-height: 40px;}
.global_lang .global_top button{font-size: 30px;}
.global_lang .global_selc{margin-bottom: 40px;}
.global_lang .global_selc p{color: #707070; font-size: 16px; margin-bottom: 10px;}
.global_lang .global_selc select{border: none; width: 100%; font-size: 18px; font-weight: 100;}
.global_lang .global_wrap > button{background-color: #222; color: #fff; width: 100%; height: 40px; line-height: 40px; font-size: 16px;}

/* max-width: 1088px */
.menu_wrap{width: 6%; text-align: center; height: 30px; line-height: 30px;}
.menu_wrap .menu{position: absolute; top: 49px; right: 0; width: 30%; height: 100vh; background-color: #fff; padding: 2%; box-sizing: border-box; text-align: right; display: none; border-left: 1px solid #707070;}
.menu_wrap .menu > ul{margin-top: 20px;}
.menu_wrap .menu > ul > li{margin-bottom: 10px;}
.menu_wrap .menu > ul > li > a{display: inline-block; font-weight: 700; font-size: 16px; padding: 4px; margin-bottom:10px;}
.menu_wrap .menu .mini_menu li{margin-bottom: 4px; }
.menu_wrap .menu .mini_menu li:hover a{color: #707070;}
.menu_wrap .menu .mini_menu li a{font-size: 14px;}
.menu_wrap button{display: inline-block; height: 100%;}

.menu_tab{position: relative;}
.menu_tab::before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #222; transform: scale(0); transition: transform 0.6s ease;}
.menu_tab:hover::before{transform: scale(1); transform-origin: bottom left;}
/* ----- */

.sec1{margin-top:50px;}
.sec1 .vid_bg{background: url('/img/bg_img.png'); width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.sec1 video{width: 100%;}
section .sec_tit{display: block; position: absolute; top: 70%; left: 50%; transform: translate(-50%); color: #fff; font-weight: 500; font-size: 24px; text-align: center; }
section .sec_tit:hover{color: #000;}
section .sec_tit p{text-shadow: 0 0 8px #fff;}
section .sec_tit p span{display: block; font-size: 18px; margin-top: 20px;}

.sec2 .bx-wrapper{margin-bottom:0;}

/* sns btn */
.sns_btn_wrap{position: fixed; bottom: 6%; right: 2%; width: 50px; height: 300px;}
.sns_btn_wrap > a{display: block;width: 50px; height: 50px; background-color: #fff; border-radius: 100%; position: relative; box-shadow: 0 0 4px rgba(0,0,0,0.3);position: absolute; bottom: 0; left: 0;}
.sns_btn_wrap > a::after{content: ''; position: absolute; top: 24%; left: 50%; transform: translatex(-50%); background-color: #222; width: 3px; height: 26px; border-radius: 10px;}
.sns_btn_wrap > a::before{content: ''; position: absolute; top: 50%; left: 24%; transform: translatey(-50%); background-color: #222; width:26px; height: 3px; border-radius: 10px;}
.sns_btn_wrap .sns_btn a{display: block; width: 50px; height: 50px; background: url('./img/sns_img.png') no-repeat; background-size: 400%; text-indent: -999rem; font-size: 0; line-height: 0; position: absolute; top:83%; opacity: 0;}
.sns_btn_wrap .sns_btn a:nth-child(1){background-position-x: 0%;}
.sns_btn_wrap .sns_btn a:nth-child(2){background-position-x: 33%;}
.sns_btn_wrap .sns_btn a:nth-child(3){background-position-x: 67%;}
.sns_btn_wrap .sns_btn a:nth-child(4){background-position-x: 100%;}

.sec3 .sec3_top{display: flex; justify-content: space-between; margin-bottom: 2.2%;}
.sec3 .sec3_top div{width: 48.8%;}

.sec4 .sec4_tit{font-weight: 700; font-size: 86px; text-align: center; letter-spacing: 0.6rem; margin-bottom: 30px;}
.sec4 > div{display: flex; justify-content: space-between;}
.sec4 > div .con_wrap{width: 24.4%; overflow: hidden;}
.sec4 > div .con_wrap .sec_tit{font-size: 20px; width: 100%; top: 0%; left: 0; font-weight: 700;}
.sec4  .con_wrap a{position: relative; transform: scale(1); transition: all 0.6s ease-in;}
.sec4  .con_wrap a:hover{transform: scale(1.1);}
.sec4 .con_wrap .sec_tit p{position: absolute; width: 100%; top: 45%; left: 50%; transform: translateX(-50%);}

.fl_banner{position: fixed; top: 16%; right: 2%; animation: shake 0.8s infinite;  animation-direction:alternate; display: none;}
.fl_banner a{display: block; width: 100%;}

.vid_wrap{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99; display: none;}
.vid_wrap .vid{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 10; width: 60%;}
.vid_wrap .vid button{position: absolute; top: 1%; right: 1%; font-size: 34px; z-index: 100;}
.vid_wrap .vid video{width: 100%;}

@keyframes shake {
    0%{transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}
}

/* footer */
footer{width: 100%; padding: 1%; box-sizing: border-box; border-top: 1px solid #707070;}
footer .footer_img{display: block; width: 100%;}
footer .footer_top{margin-bottom: 20px;}
footer .footer_top p{font-size: 11px;}
footer .footer_bott{font-size: 12px; display: flex; justify-content: space-between; color:#505050;}
footer .footer_bott div:first-child{width: 56%;}
footer .footer_bott div:last-child{width: 36%;}
footer .footer_bott div a{text-decoration: underline;}

/* @keyframes blink{
    0% {text-shadow: 0 0 0px; }
    100% {text-shadow: 0 0 10px} 
} */


@media all and (min-width: 1669px) {
    .menu_wrap{display: none;}
}
@media all and (max-width: 1668px) {
    .menu_wrap{display: none;}
    .gnb > ul{width: 40%;}
    .gnb > ul{justify-content: space-around;}
}
@media all and (max-width: 1400px) {
    .menu_wrap{display: none;}
    .gnb > ul{width: 50%;}
    .gnb > ul{justify-content: space-around;}
}
@media all and (max-width: 1191px) {
    section{margin-bottom: 40px;}
    .gnb > ul{display: none;}
    .gnb{justify-content: space-between;}
    .vid_wrap .vid{width: 70%;}
    .menu_wrap{display: block; width: 7%; margin-left: 30px;}
    .menu_wrap button{font-size: 14px;}
    .main_img{margin-top:0; height: 180px;}
    section .sec_tit{font-size: 21px;}
    section .sec_tit p span{font-size: 16px;}
    .sec4 .sec4_tit{font-size: 62px; letter-spacing: 0.4rem;}
    .sec4 > div .con_wrap .sec_tit{font-size: 16px;}
    footer .footer_top{margin-bottom: 10px;}
    footer .footer_top p{font-size: 10px; margin-bottom: 10px;}
    footer .footer_bott{font-size: 11px;}

    .global_lang .global_wrap{width: 36%;}
    .global_lang .global_top{font-size: 18px;}
    .global_lang .global_selc p{font-size: 13px;}
    .global_lang .global_selc select{font-size: 16px;}
    .global_lang .global_wrap > button{font-size: 14px;}
}

@media all and (max-width: 900px) {
    .vid_wrap .vid{width: 90%;}
    .main_img{height: 126px;}
    .sec4{text-align: center;}
    .sec4 > div{display: block; margin:  0 auto;}
    .sec4 > div .con_wrap{display: inline-block; width: 48%; margin: 0 0 2%;}
    footer{text-align: center;}
    footer .footer_bott{display: block;}
    footer .footer_bott div{padding: 1% 2%; box-sizing: border-box;}
    footer .footer_bott div:first-child{margin-bottom: 2%;}
    footer .footer_bott div:first-child,
    footer .footer_bott div:last-child{width: 100%;}
}

@media all and (max-width: 740px) {
    .gnb .gnb_img{margin-right: 0;}
    .menu_wrap{margin-left:6px; width: 14%;}
    .main_img{height: 100px;}
    section .sec_tit{font-size: 19px;}
    section .sec_tit p span{margin-top: 12px; font-size: 14px;}
    .sec4 > div .con_wrap .sec_tit{font-size: 23px;}
    .global_lang .global_top{font-size: 16px; height: 34px; line-height: 34px;}
    .global_lang .global_selc select{font-size: 14px;}
    .global_lang .global_selc p{font-size: 12px;}
    .global_lang .global_wrap{width: 46%;}
    .global_lang .global_wrap > button{font-size: 12px; height: 36px; line-height: 36px;}
}

@media all and (max-width: 610px) {
    section .sec_tit{font-size: 15px;}
    section .sec_tit p span{margin-top: 6px;}
    section .sec_tit{top: 64%;}
}

@media all and (max-width: 375px) {
    .gnb{padding: 5px 7px;}
    .gnb .gnb_img{height: 39px; line-height: 35px;}
    .main_img{height: 56px;}
    .menu_wrap .menu{width: 48%;}
    .menu_wrap .menu > ul > li > a{font-size: 14px;}
    .menu_wrap .menu .mini_menu li a{font-size: 12px;}
    .menu_wrap .menu > ul > li{margin-bottom: 4px;}
    .vid_wrap .vid{width: 100%;}
    .fl_banner{right: -1%;}
    .fl_banner a{width: 80%;}
    section{margin-bottom: 30px;}
    section .sec_tit{top:61%; font-size: 16px;}
    .sec3 .sec3_bottom img{height: 54vw;}
    .sec3 .sec3_top{display: block;}
    .sec3 .sec3_top div{width: 100%; margin-bottom: 2%;}
    .sec4 .sec4_tit{font-size: 40px; letter-spacing: 0.2rem; margin-bottom: 14px;}
    .sec4 > div .con_wrap .sec_tit{font-size: 15px;}
}


